<div class="jumbotron " >
    <h2 class="card-header text-center">{{titulo}}</h2>
    
    <form [formGroup]="autorForm">
      <label>Codigo</label>
      <Input type="text" formControlName="code"  >
        <br>
        <label>Nombre</label>
        <Input type="text" formControlName="name"  >
          <br>
          <label>Apellido</label>
        <Input type="text" formControlName="lastname"  >
          <br>
          <label>Fecha de nacimiento</label>
        <Input type="text" formControlName="bd_year"  >
          <br>
      <label>Lugar de nacimiento</label>
      <Input type="text" formControlName="bd_place" >
      <button type="button" value="Buscar" class="btn btn-success"> 
      
      
      <p class="mt-5 mb-3 text-muted text-center">&copy; 2017-2019</p>
    </form>
    </div>
    