<div class="jumbotron boxlogin" >
    <h2 class="card-header text-center">{{titulo}</h2>

    <form formGroup="autorForm">
      <label>Nombre</label>
      <Input type="text" formControlName="Nombre" name="Nombre" >
        <br>
        <label>Codigo</label>
        <Input type="text" formControlName="codigo" name="codigo" >
          <br>
      <label>Fecha de nacimiento</label>
      <Input type="text" formControlName="Fec_nac" name="Fec_nac" >
      <button type="button" value="Buscar" class="btn btn-success"> 
      
      
      <p class="mt-5 mb-3 text-muted text-center">&copy; 2017-2019</p>
    </form>
    </div>