<div class="jumbotron boxlogin" >
        <h2 class="card-header text-center">{{titulo}}</h2>

        <form method="POST" name="formulario" id="formulario">
          <label>Nombre</label>
          <Input type="text" name="username" id="username" class="form-control">
            <br>
          <label>Editorial</label>
          <Input type="text" name="Editorial" id="Editorial" class="form-control">
          <input type="submit" value="Buscar" class="btn btn-success"> 
          
          
          <p class="mt-5 mb-3 text-muted text-center">&copy; 2017-2019</p>
        </form>
        </div>